pkg/
api.key
*-handin.tar.gz
.vscode/

*.*/
*.so
.vscode/
/kvpaxos/x.txt
/main/diff.out
/main/mr-tmp/*
/mapreduce/x.txt
/pbservice/x.txt
824-mrinput-*.txt
mrtmp.*
src/main/mrmaster
src/main/mrsequential
src/main/mrworker
