pkg/
api.key
*-handin.tar.gz

*.*/
*.so
/kvpaxos/x.txt
/src/main/diff.out
/src/main/mr-tmp/*
/mapreduce/x.txt
/pbservice/x.txt
824-mrinput-*.txt
mrtmp.*
src/main/mrmaster
src/main/mrsequential
src/main/mrworker
